body {
  background-color: lightgoldenrodyellow;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 12px 0;
  display: inline-block;
  border: 2px solid floralwhite;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: large;
  font-family: monospace;
}

input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 12px 0;
  display: inline-block;
  border: 2px solid floralwhite;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: large;
  font-family: monospace;
}
/* [type="SUBMIT"] {
  width: 20%;
  background-color: grey;
  color: black;
  padding: 10px 16px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: monospace;
  font-size: large;
} */
body > table {
  width: 80%;
  color: black;
}
table {
  border-collapse: collapse;
}
table.list {
  width: 100%;
}
td,
th {
  border: 2px solid floralwhite;
  border-color: black;
  text-align: left;
  padding: 12px;
}
tr:nth-child(even),
table.list thead > tr {
  background-color: floralwhite;
  font-family: monospace;
  font-size: large;
  color: black;
}

button {
  width: 20%;
  padding: 12px 20px;
  margin: 12px 0;
  margin-bottom: 1rem;
  margin-top: 1rem;
} 
